<div *ngIf="detailData">
  <h1>Currency Details</h1>

  <div class="card">
    <h5 class="card-header">{{ detailData.name }}</h5>
    <div class="card-body">
      <p class="card-text"><b>Key: </b>{{ detailData.key }}</p>
      <p class="card-text"><b>Value: </b>{{ detailData.value }}</p>
      <p class="card-text"><b>Date: </b>{{ detailData.date }}</p>
      <p class="card-text"><b>Unit: </b>{{ detailData.unit }}</p>
    </div>
  </div>
</div>

<div *ngIf="!detailData">

    No se ha enviado el parametro requerido...

</div>
